In [2]:
import statsmodels.api as sm
from statsmodels.datasets import cancer

In [7]:
data = cancer.load(as_pandas=True)

In [8]:
data.exog_name

['population']

In [9]:
data.endog_name

'cancer'

In [10]:
data.exog

     population
0         445.0
1         559.0
2         677.0
3         681.0
4         746.0
..          ...
296     62931.0
297     63476.0
298     66676.0
299     74005.0
300     88456.0

[301 rows x 1 columns]

In [11]:
x = data.exog
y = data.endog

In [13]:
type(x)

pandas.core.frame.DataFrame

In [16]:
model = sm.OLS(y, x)

In [17]:
regres = model.fit()

In [20]:
regres.df_resid

300.0